div.dt-buttons {
    display: none !important;
    visibility: hidden;

    button {
        &.btn {
            span {
                display: flex;
                align-items: center;
                gap: 0.25rem;
            }
        }
    }
}

.card-body {
    .dataTables_filter {
        display: none !important;
    }
}
.btn-show-table-options {
    white-space: nowrap;
    min-width: 75px;
}
.table-search-input {
    width: 100%;

    label {
        position: relative;
        width: 100%;
        margin-bottom: 0;
        button {
            background: none;
            border: none;
            outline: none;
            position: absolute;
            top: calc(50% - 0.75rem);
            inset-inline-end: 10px;
            height: 22px;
            width: 22px;
            padding: 0;
            i {
                filter: invert(0.7);
                transform: scale(0.75);
            }

            &.search-reset-icon {
                display: none;
                i {
                    filter: none;
                }
            }
        }

        input {
            margin-left: unset !important;
            margin-inline-start: 0.5em;
        }

        input[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: none;
            appearance: none;
        }

        input[type="search"]::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }

        input[type="search"]::-moz-clear {
            display: none;
        }
    }
}
.form-check-input {
    width: 20px !important;
    height: 20px !important;
}

.table-configuration-wrap .btn-show-table-options {
    inset-inline-end: 1rem;
    position: absolute;
    top: 1rem;
    min-width: initial;
    width: 28px;
    height: 28px;
}

.btn-action {
    padding: 0.25rem 0.3rem !important;
}
